:root {
	font-family: sans-serif;
	font-size: 16px;
	--divider-color: #f1f1f1;
	--logo-pink: #ff1b6b;
	--logo-blue: #45caff;
	--logo-mid-blue: #0061ff;
	--logo-green: #73ff00;
	--dark-mode-bg: #232323;
	--white: #fff;
	--off-white: #f5f5f5;
}

@font-face {
	font-family: Varela;
	src: url(./Fonts/VarelaRound-Regular.ttf);
}

body {
	margin: 0;
}

.header-container {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--divider-color);
	height: 60px;
}

.logo-area,
.header-menu {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1.25rem;
}

.logo-area p {
	font-family: Varela, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	margin: 0;
}

.logo-area img {
	height: 2.25rem;
}

.header-menu a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.header-menu img {
	height: 1.5rem;
	border-radius: 2rem;
	transition: all 0.3s ease-in-out;
}

.header-button {
	font-family: Varela, sans-serif;
	font-size: 1.5rem;
	text-align: center;
	/* background: linear-gradient(45deg, var(--logo-blue), #043584); */
	background: linear-gradient(45deg, #043584, #0f58cd);
	border: none;
	border-radius: 2rem;
	margin-left: 0.5rem;
	padding: 0.35rem 1.5rem 0.35rem 1rem;
	color: var(--white);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.plus {
	font-weight: bolder;
}

/* DASHBOARD AREA*/

.dash-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	height: calc(100dvh - 62px);
	background: var(--white);
	position: relative;
	overflow: hidden;
}

.menu-area {
	width: 350px;
	height: 100%;
	border-right: 2px solid var(--divider-color);
	background: #ffffff;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	transition: all 0.4s ease-in-out;
	transform: translateX(0px);
	position: relative;
	z-index: 6;
}

.tasks-area {
	/* min-width: calc(100vw - 720px); */
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100dvh - 68px);
	overflow-y: scroll;
	margin-left: 1.5rem;
	/* margin-right: 0.5rem; */
	transition: all 0.4s ease-in-out;
}

.details-area {
	max-width: 450px;
	height: 100%;
	border-left: 2px solid var(--divider-color);
	background: linear-gradient(45deg, var(--logo-blue), #043584);
	transition: all 0.4s ease-in-out;
	transform: translateX(0px);
	position: absolute;
	right: 0;
	z-index: 5;
}

.back-arrow {
	position: absolute;
	right: 0;
	width: 2rem;
	margin-right: 1rem;
	padding: 1rem;
}

.hamburger {
	width: 2rem;
	margin-left: 1.25rem;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	position: absolute;
	top: 5rem;
	z-index: 10;
}

.hide-side-menu {
	transform: translateX(-350px);
}

.hide-details-panel {
	transform: translateX(500px);
}

.no-display {
	display: none;
}

.no-pointer-events {
	pointer-events: none;
}

.menu-item-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.25rem 1rem 1.25rem;
	border-bottom: 1px solid var(--divider-color);
	cursor: pointer;
}

.menu-item-container:nth-child(1) {
	margin-top: 3rem;
}

.menu-item-container svg {
	height: 1rem;
}

.menu-item {
	margin: 0;
	font-family: Varela, sans-serif;
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease-in-out;
}

.tasks-area::-webkit-scrollbar {
	width: 12px;
}

.tasks-area::-webkit-scrollbar-thumb {
	background: rgb(202, 230, 249);
}

.tasks-area::-webkit-scrollbar-thumb:hover {
	background: rgb(156, 200, 230);
}

.tasks-area::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}

.tasks-area h2 {
	font-family: Varela;
	font-size: 2rem;
	margin: 1rem;
	color: #043584;
	letter-spacing: 1px;
	text-align: center;
}

.task-container {
	display: flex;
	/* align-items: center; */
	background-color: #e3f0ff;
	margin: 0.75rem 1rem 0.75rem 0;
	font-family: Varela;
	border-radius: 5px;
	border-bottom: 1px solid #c4d5f0;
	cursor: pointer;
}

.check-container {
	width: 2.35rem;
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
	padding-right: 1rem;
	border-right: 2px solid #ffffff;
}

.text-container {
	width: calc(100% - 2.35rem);
	display: flex;
	/* align-items: center; */
	flex-wrap: wrap;
}

.task-container p {
	margin-left: 2rem;
	margin-right: 0.5rem;
	max-width: 60%;
	font-size: 1.2rem;
}

.task-container button {
	margin: auto 1rem auto auto;
	border: none;
	background: rgb(255, 255, 255);
	color: #043584;
	font-family: Varela;
	font-size: 1rem;
	padding: 0.3rem 0.75rem;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
}

.task-container label {
	position: relative;
	margin-left: 0.5rem;
	bottom: 4px;
	cursor: pointer;
}

.task-container input[type="checkbox"] {
	visibility: hidden;
	margin: 0;
}

.task-container span {
	position: absolute;
	left: 0;
	height: 1.75rem;
	width: 1.75rem;
	background-color: var(--white);
	border-radius: 50%;
}

.task-container input:checked ~ span {
	background-color: #266abe;
}

.task-container input:checked ~ span::after {
	display: inline-block;
	z-index: 1;
}

.task-container span::after {
	position: relative;
	z-index: -1;
	left: 0.75rem;
	content: "";
	width: 0.35rem;
	height: 1.1rem;
	border: 1px solid rgb(255, 255, 255);
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

.details-title,
.task-description,
.due-date {
	width: 90%;
	margin: 0;
	margin-left: 1.5rem;
	font-family: Varela;
	color: var(--white);
}

.details-title {
	margin-top: 2.5rem;
	padding: 0.75rem 0 0.5rem 0;
	font-size: 1.75rem;
}

.project,
.priority {
	display: inline-block;
	font-family: Varela;
	font-size: 0.85rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #043584;
	background: var(--white);
	margin: 0.5rem 0 2rem 1.5rem;
	padding: 0.2rem 0.8rem;
	border-radius: 5px;
}

.priority {
	background-color: var(--logo-blue);
}

.task-description {
	padding: 1.5rem 0;
	font-size: 1.1rem;
	border-bottom: 1px solid var(--white);
	border-top: 1px solid var(--white);
	line-height: 1.75rem;
}

.due-date {
	padding: 1.5rem 0;
	border-bottom: 1px solid var(--white);
	font-size: 1.1rem;
	line-height: 1.75rem;
}

.due-text {
	display: inline-block;
	font-family: Varela;
	font-size: 0.85rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #043584;
	background: var(--white);
	line-height: normal;
	padding: 0.2rem 0.8rem;
	border-radius: 5px;
}

/*FORM AREA*/

.container-overlay {
	position: absolute;
	top: 0;
	z-index: 6;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	margin: 0;
}

.form-container {
	position: absolute;
	top: 0;
	z-index: 11;
	width: 100%;
	height: calc(100% - 8rem);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 4rem 0;
	transition: all 0.3s ease-in-out;
}

.form-content {
	color: white;
	background: linear-gradient(45deg, #0d3562, #266abe);
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1rem 2rem 1rem;
	gap: 1rem;
	font-family: Varela;
	border-radius: 0.75rem;
	width: max(25vw, 300px);
	transition: all 0.3s ease-in-out;
}

.form-title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #45caff;
	margin: 0.5rem 0;
}

.form-title {
	font-family: Varela;
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.close-button {
	font-size: 1.1rem;
	color: #ffffff;
	width: 1.7em;
	height: 1.7em;
	border: none;
	border-radius: 50%;
	background: #092d59;
	padding: 0.2rem;
	transition: all 0.3s ease-in-out;
}

.form-content input[type="text"] {
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.5rem;
	box-sizing: border-box;
	border: none;
	border-radius: 0.5rem;
	height: 2rem;
	font-family: Varela;
}

.form-content textarea {
	width: 100%;
	height: 4rem;
	margin: 0.5rem 0 0.3rem 0;
	padding: 0.5rem;
	box-sizing: border-box;
	border: none;
	border-radius: 0.5rem;
	resize: none;
	font-family: Varela;
}

.form-content input[type="date"] {
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.5rem;
	box-sizing: border-box;
	border: none;
	border-radius: 0.5rem;
	height: 2rem;
	font-family: Varela;
}

.form-content fieldset {
	display: flex;
	justify-content: space-between;
	border: 2px solid #fff;
	border-radius: 0.5rem;
	padding-bottom: 1rem;
	margin-bottom: 0.75rem;
}

.form-content legend {
	padding: 0.5rem;
}

.form-content input[type="radio"] {
	accent-color: #45caff;
}

.form-container select {
	height: 2rem;
	border: none;
	border-radius: 0.5rem;
	margin: 0.5rem 0;
	padding: 0.5rem;
}

.form-content option {
	font-family: Varela;
	font-size: 1rem;
}

.submit-button {
	height: 2.5rem;
	background: #45caff;
	border-radius: 0.5rem;
	border: none;
	font-family: Varela;
	font-size: 1.2rem;
	margin-top: 1rem;
	transition: all 0.3s ease-out;
}

/* .tasks-overlay {
	position: absolute;
	top: 0;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	margin: 0;
} */

@media only screen and (min-width: 768px) {
	.task-container:hover {
		background-color: #9dc7f5;
	}

	.task-container button:hover {
		padding: 0.3rem 1.5rem;
		background-color: #0f58cd;
		color: #fff;
		font-weight: bold;
	}

	.task-container span:hover {
		background-color: #266abe;
	}

	.header-button:hover {
		padding: 0.55rem 3rem 0.55rem 2.5rem;
	}

	.header-menu img:hover {
		transform: rotate(360deg) scale(1.5);
	}

	.menu-item-container:hover {
		/* background: linear-gradient(90deg, var(--logo-mid-blue), var(--logo-blue)); */
		color: var(--white);
		/* background: linear-gradient(225deg, var(--logo-blue), #043584); */
		background: linear-gradient(45deg, #043584, #0f58cd);
	}

	.menu-item-container:hover .menu-item {
		transform: translateX(10px);
	}

	.hamburger:hover {
		border-radius: 5px;
		transform: scale(1.25) translateX(5px);
	}

	.back-arrow:hover {
		width: 2.5rem;
		transition: all 0.3s ease-out;
	}

	.close-button:hover {
		font-weight: bold;
		background: #c92a12;
		color: #fff;
	}

	.submit-button:hover {
		background: #edea2b;
		height: 3rem;
	}

	.submit-button:active {
		background: #266abe;
	}

	.close-button:active {
		background: #7c190a;
	}
}

@media only screen and (max-width: 768px) {
	.tasks-area h2 {
		font-size: 1.5rem;
		margin: 1.3rem;
	}

	.menu-area {
		width: 275px;
		position: absolute;
	}
}

@media only screen and (max-width: 450px) {
	.logo-area p {
		font-size: 1.2rem;
	}

	.logo-area img {
		height: 1.3rem;
	}

	.header-button {
		font-size: 1.2rem;
	}

	.header-menu img {
		display: none;
	}

	.details-area {
		max-width: 255px;
	}

	.task-container p {
		left: 2rem;
	}

	.task-container button {
		margin-bottom: 1rem;
	}

	.close-button {
		background: #c92a12;
		color: #fff;
	}

	.container-overlay {
		height: 115dvh;
	}

	.check-container {
		align-items: flex-start;
		border-right: none;
	}

	.task-container span {
		margin-top: 1.5rem;
	}
}
