/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
	font-family: "Varela Round", sans-serif;
	font-size: 16px;
	font-weight: 400;
	--divider-color: #f1f1f1;
	--logo-pink: #ff1b6b;
	--logo-blue: #45caff;
	--logo-mid-blue: #0061ff;
	--logo-green: #73ff00;
	--dark-mode-bg: #232323;
	--white: #fff;
	--off-white: #f5f5f5;
}

body {
	margin: 0;
}

.header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 2px solid var(--divider-color);
	height: 60px;
}

.logo-area,
.header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1.25rem;
}

.logo-area p {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0;
}

.logo-area img {
	height: 2.25rem;
}

.header-menu a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.header-menu img {
	height: 1.5rem;
	border-radius: 2rem;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.header-button {
	font-size: 1.5rem;
	text-align: center;
	/* background: linear-gradient(45deg, var(--logo-blue), #043584); */
	background: -o-linear-gradient(45deg, #043584, #0f58cd);
	background: linear-gradient(45deg, #043584, #0f58cd);
	border: none;
	border-radius: 2rem;
	margin-left: 0.5rem;
	padding: 0.35rem 1.5rem 0.35rem 1rem;
	color: var(--white);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.plus {
	font-weight: bold;
}

/* DASHBOARD AREA*/

.dash-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 1rem;
	height: calc(100dvh - 62px);
	background: var(--white);
	position: relative;
	overflow: hidden;
}

.menu-area {
	width: 350px;
	height: 100%;
	border-right: 2px solid var(--divider-color);
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-top: 1rem;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	position: relative;
	z-index: 6;
}

.tasks-area {
	/* min-width: calc(100vw - 720px); */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: calc(100dvh - 68px);
	overflow-y: scroll;
	margin-left: 1.5rem;
	/* margin-right: 0.5rem; */
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.details-area {
	min-width: 400px;
	max-width: 450px;
	height: 100%;
	border-left: 0.25rem solid white;
	background-color: rgba(0, 61, 140, 0.6);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	position: absolute;
	right: 0;
	z-index: 5;
}

.hamburger {
	width: 2rem;
	margin-left: 1.25rem;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	position: absolute;
	top: 5rem;
	z-index: 10;
}

.hide-side-menu {
	-webkit-transform: translateX(-350px);
	-ms-transform: translateX(-350px);
	transform: translateX(-350px);
}

.hide-details-panel {
	-webkit-transform: translateX(500px);
	-ms-transform: translateX(500px);
	transform: translateX(500px);
}

.no-display {
	display: none;
}

.no-pointer-events {
	pointer-events: none;
}

.menu-item-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.25rem 1rem 1.25rem;
	border-bottom: 1px solid var(--divider-color);
	cursor: pointer;
}

.menu-item-container:nth-child(1) {
	margin-top: 3rem;
}

.menu-item-container svg {
	height: 1rem;
}

.menu-item {
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tasks-area::-webkit-scrollbar {
	width: 12px;
}

.tasks-area::-webkit-scrollbar-thumb {
	background: rgb(202, 230, 249);
}

.tasks-area::-webkit-scrollbar-thumb:hover {
	background: rgb(156, 200, 230);
}

.tasks-area::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}

.tasks-area h2 {
	font-size: 1.55rem;
	margin: 1.3rem 4rem;
	color: #043584;
	text-align: left;
}

.task-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* align-items: center; */
	background-color: #e3f0ff;
	margin: 0.75rem 1rem 0.75rem 0;

	border-radius: 5px;
	border-bottom: 1px solid #c4d5f0;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-animation: slide-in 1.8s ease-out forwards;
	animation: slide-in 1.8s ease-out forwards;
}

.animate-out {
	-webkit-animation: slide-out 1s ease-in-out forwards;
	animation: slide-out 1s ease-in-out forwards;
}

@-webkit-keyframes slide-in {
	0% {
		background-color: #2a85df;
		-webkit-transform: translateX(-2rem);
		transform: translateX(-2rem);
		opacity: 0.2;
	}

	90% {
		background-color: #e3f0ff;
		-webkit-transform: translateX(0rem);
		transform: translateX(0rem);
		opacity: 1;
	}
}

@keyframes slide-in {
	0% {
		background-color: #2a85df;
		-webkit-transform: translateX(-2rem);
		transform: translateX(-2rem);
		opacity: 0.2;
	}

	90% {
		background-color: #e3f0ff;
		-webkit-transform: translateX(0rem);
		transform: translateX(0rem);
		opacity: 1;
	}
}

@-webkit-keyframes slide-out {
	0% {
		-webkit-transform: translateX(0rem);
		transform: translateX(0rem);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(-100vw);
		transform: translateX(-100vw);
		opacity: 0;
	}
}

@keyframes slide-out {
	0% {
		-webkit-transform: translateX(0rem);
		transform: translateX(0rem);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(-100vw);
		transform: translateX(-100vw);
		opacity: 0;
	}
}

.check-container {
	width: 2.35rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 0.5rem;
	padding-right: 1rem;
	border-right: 2px solid #ffffff;
}

.text-container {
	width: calc(100% - 2.35rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 1rem 0;
}

.task-button-area {
	margin: auto 1rem auto auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.task-container p {
	margin: 0 0.5rem 0 2rem;
	max-width: 60%;
	font-size: 1.2rem;
	pointer-events: none;
}

.task-container button {
	/* margin: auto 0.5rem; */
	border: none;
	background: rgb(255, 255, 255);
	color: #043584;
	font-family: Varela Round;
	font-size: 1rem;
	padding: 0.3rem 0.75rem;
	border-radius: 10px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.task-container label {
	position: relative;
	margin-left: 0.5rem;
	bottom: 4px;
	cursor: pointer;
}

.task-container input[type="checkbox"] {
	visibility: hidden;
	margin: 0;
}

.task-container span {
	position: absolute;
	left: 0;
	height: 1.75rem;
	width: 1.75rem;
	background-color: var(--white);
	border-radius: 50%;
}

.task-container input:checked ~ span {
	background-color: #266abe;
}

.task-container input:checked ~ span::after {
	display: inline-block;
	z-index: 1;
}

.task-container span::after {
	position: relative;
	z-index: -1;
	left: 0.75rem;
	content: "";
	width: 0.35rem;
	height: 1.1rem;
	border: 1px solid rgb(255, 255, 255);
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.details-info-container {
	margin-top: 0.5rem;
}

.back-arrow {
	position: absolute;
	right: 0;
	top: 1.2rem;
	width: 1.25rem;
	margin-right: 1rem;
	padding: 0.25rem;
	border-radius: 50%;
	background-color: #bc3939;
	border: 2px solid #fff;
}

.details-divider {
	height: 2px;
	background-color: #b2d5fc;
	margin-top: 4.3rem;
	border: none;
	margin-left: 1.5rem;
	margin-right: 1rem;
}

.details-divider2 {
	height: 2px;
	background-color: #ffffff;
	border: none;
	margin-left: 1.5rem;
	margin-right: 1rem;
	margin-bottom: 2.25rem;
}

.details-title {
	padding: 1.5rem;
	font-size: 1.75rem;
	/* text-transform: uppercase; */
	text-align: left;
	color: #043584;
	margin-right: 1rem;
	margin-left: 1.5rem;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
	max-width: 90%;
	background: #fff;
	border-radius: 5px;
	font-weight: bold;
}

.project,
.priority,
.due-date {
	display: block;

	font-size: 0.85rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #bc3939;
	background: var(--white);
	margin: 1rem 1rem 1rem 1.5rem;
	padding: 0.65rem 1rem;
	border-radius: 5px;
}

.due-date {
	margin-bottom: 2.25rem;
}

.project {
	margin-top: 2.25rem;
}

.project-priority-text {
	color: #043584;
}

.details-description {
	max-width: 90%;
	margin-left: 1.5rem;
	margin-right: 1rem;
	color: #043584;
	background: #fff;
	padding: 0.65rem 1rem;
	font-size: 1rem;
	line-height: 1.75rem;
	border-radius: 5px;
	min-height: 100px;
}

.desc-title {
	font-size: 0.85rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.due-text {
	display: inline-block;
	font-size: 0.85rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #043584;
	background: var(--white);
	line-height: normal;
	padding: 0.2rem 0.8rem;
	border-radius: 5px;
}

.details-edit-button {
	position: absolute;
	left: 0;
	top: 1.2rem;
	color: #043584;
	font-family: Varela Round;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 1.5rem;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border: none;
	background-color: #ffffff;
	cursor: pointer;
}

[contenteditable]:focus {
	outline: 0px solid transparent;
}

.editable {
	border: 1px solid red;
}

/*FORM AREA*/

.container-overlay {
	position: absolute;
	top: 0;
	z-index: 6;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0.7;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin: 0;
}

.form-container {
	position: absolute;
	top: 0;
	z-index: 11;
	width: 100%;
	height: calc(100% - 8rem);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 4rem 0;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.form-content {
	color: white;
	background: -o-linear-gradient(45deg, #0d3562, #266abe);
	background: linear-gradient(45deg, #0d3562, #266abe);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0.5rem 1rem 2rem 1rem;
	gap: 1rem;
	border-radius: 0.75rem;
	width: max(25vw, 300px);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.form-title-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 2px solid #45caff;
	margin: 0.5rem 0;
}

.form-title {
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.close-button {
	font-size: 1.1rem;
	color: #ffffff;
	width: 1.7em;
	height: 1.7em;
	border: none;
	border-radius: 50%;
	background: #092d59;
	padding: 0.2rem;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.form-content input[type="text"] {
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border-radius: 0.5rem;
	height: 2rem;
	font-family: Varela Round;
}

.form-content textarea {
	width: 100%;
	height: 4rem;
	margin: 0.5rem 0 0.3rem 0;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border-radius: 0.5rem;
	resize: none;
	font-family: Varela Round;
}

.form-content input[type="date"] {
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border-radius: 0.5rem;
	height: 2rem;
	font-family: Varela Round;
}

.form-content fieldset {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border: 2px solid #fff;
	border-radius: 0.5rem;
	padding-bottom: 1rem;
	margin-bottom: 0.75rem;
}

.form-content legend {
	padding: 0.5rem;
}

.form-content input[type="radio"] {
	accent-color: #45caff;
}

.form-container select {
	height: 2rem;
	border: none;
	border-radius: 0.5rem;
	margin: 0.5rem 0;
	padding: 0.5rem;
	font-family: Varela Round;
}

.form-content option {
	font-size: 1rem;
	font-family: Varela Round;
}

.submit-button {
	height: 2.5rem;
	background: #45caff;
	border-radius: 0.5rem;
	border: none;
	font-family: Varela Round;
	font-size: 1.2rem;
	margin-top: 1rem;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/*Project Form*/

.project-area {
	margin-top: 3rem;
	height: auto;
	padding: 0;
}

.project-button {
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	margin: 3rem 1.5rem 1rem 1.5rem;
	width: 10rem;
	background: linear-gradient(45deg, #043584, #0f58cd);
	color: #fff;
	font-size: 1rem;
	font-family: Varela Round;
	transition: 0.3s all ease-in-out;
}

.project-form-content {
	padding-top: 2.5rem;
	transition: all 0.3s ease-in-out;
	transform: scale(0);
}

.project-form-content input[type="text"] {
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border-radius: 0.5rem;
	height: 2rem;
	font-family: Varela Round;
}

.project-heading {
	padding: 1rem 1.5rem;
	margin: 0;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-top: 1px solid var(--divider-color);
	border-bottom: 1px solid var(--divider-color);
	/* background-color: #eff4fa; */
}

.project-div {
	padding: 1rem 1rem 1rem 3rem;
	font-size: 1.1rem;
	border: 1px solid var(--divider-color);
	cursor: pointer;
	transition: all 0.2s ease-out;
}

/* .tasks-overlay {
	position: absolute;
	top: 0;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	margin: 0;
} */

@media only screen and (min-width: 768px) {
	.task-container:hover {
		background-color: #9dc7f5;
	}

	.modify-button:hover {
		padding: 0.3rem 1.5rem;
		background-color: #0f58cd;
		color: #fff;
		font-weight: bold;
	}

	.delete-button:hover {
		padding: 0.3rem 1.5rem;
		background-color: #bc3939;
		color: #fff;
		font-weight: bold;
	}

	.task-container span:hover {
		background-color: #266abe;
	}

	.header-button:hover {
		padding: 0.55rem 3rem 0.55rem 2.5rem;
	}

	.header-menu img:hover {
		-webkit-transform: rotate(360deg) scale(1.5);
		-ms-transform: rotate(360deg) scale(1.5);
		transform: rotate(360deg) scale(1.5);
	}

	.menu-item-container:hover {
		/* background: linear-gradient(90deg, var(--logo-mid-blue), var(--logo-blue)); */
		color: var(--white);
		/* background: linear-gradient(225deg, var(--logo-blue), #043584); */
		background: -o-linear-gradient(45deg, #043584, #0f58cd);
		background: linear-gradient(45deg, #043584, #0f58cd);
	}

	.menu-item-container:hover .menu-item {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}

	.project-div:hover {
		color: var(--white);
		background: linear-gradient(45deg, #043584, #0f58cd);
	}

	.hamburger:hover {
		border-radius: 5px;
		-webkit-transform: scale(1.25) translateX(5px);
		-ms-transform: scale(1.25) translateX(5px);
		transform: scale(1.25) translateX(5px);
	}

	.back-arrow:hover {
		-webkit-transform: scale(1.25);
		-ms-transform: scale(1.25);
		transform: scale(1.25);
		-webkit-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.close-button:hover {
		font-weight: bold;
		background: #c92a12;
		color: #fff;
	}

	.submit-button:hover {
		background: #edea2b;
		height: 3rem;
	}

	.submit-button:active {
		background: #266abe;
	}

	.close-button:active {
		background: #7c190a;
	}

	.details-edit-button:hover {
		background: #bc3939;
		color: #fff;
	}

	.details-edit-button:focus {
		background: #871b1b;
		color: #fff;
	}

	.project-button:hover {
		width: 12rem;
	}
}

@media only screen and (max-width: 768px) {
	.menu-area {
		width: 275px;
		position: absolute;
	}
}

@media only screen and (max-width: 550px) {
	.logo-area p {
		font-size: 1.2rem;
	}

	.logo-area img {
		height: 1.3rem;
	}

	.header-button {
		font-size: 1.2rem;
	}

	.header-menu img {
		display: none;
	}

	.details-area {
		max-width: 265px;
		min-width: 50px;
	}

	.task-container p {
		left: 2rem;
	}

	.task-button-area {
		margin: auto 1.5rem;
	}

	.task-container button {
		/* margin-bottom: 1rem; */
		font-size: 0.9rem;
		padding: 0.3rem 0.55rem;
	}

	.close-button {
		background: #c92a12;
		color: #fff;
	}

	.container-overlay {
		height: 115dvh;
	}

	.check-container {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		border-right: none;
	}

	.task-container span {
		margin-top: 1.5rem;
	}
}
